@model IEnumerable<ReaLocate.Web.ViewModels.VisitorViewModel>

@{
    ViewBag.Title = "Who Views Real Estate Details";
}

<h2>Who Viewed this Real Estate</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProfilePicturePath)
        </th>
        <th>
            Details
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
                <img src="@Href(item.ProfilePicturePath)" width="50" />
        </td>
        <td>
            @{
                var redirect = "/Visitors/VisitorDetails/" + item.Id;
            }
            <a href=@redirect>Details</a>
        </td>
    </tr>
}

</table>
