@model ReaLocate.Web.ViewModels.DetailsRealEstateViewModel

@{
    ViewBag.Title = "RealEstateDetails";
}

<h2>RealEstateDetails</h2>

<div>
    <h4>DetailsRealEstateViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OfferType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OfferType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RealEstateType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RealEstateType)
        </dd>

    </dl>
</div>

<p>
    @{
        var redirect = "/Visitors/WhoViewRealEstateDetails/" + Model.EncodedId;
    }
    <a class="btn btn-warning" href=@redirect> See Who viewed this real estate!</a>
</p>

<ul class="bxslider clearfix" >
    @foreach (var photo in Model.Photos)
    {
        <div>
            <img src="@Href(photo.SourceUrl)" />
        </div>
    }
</ul>

@section Map{

    <div id="map_canvas" style="height: 300px; width: 300px; border-radius: 200px;"></div>
}

@section SideBar{

    <p>If you want to chat with the publisher</p>
    <a class="btn btn-success" href="/Visitors/VisitorDetails/@Model.UserId">View Official Publisher Profile and Chat</a>

}
@section scripts {
    <script src="http://maps.google.com/maps/api/js?sensor=true" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.5/jquery.bxslider.min.js"></script>
    <section class="scripts">

        <script type="text/javascript">
            $(document).ready(function () {
                Initialize();
            });

            // Where all the fun happens
            function Initialize() {

                // Google has tweaked their interface somewhat - this tells the api to use that new UI
                google.maps.visualRefresh = true;
                var Liverpool = new google.maps.LatLng(@Model.Latitude, @Model.Longitude);

                // These are options that set initial zoom level, where the map is centered globally to start, and the type of map to show
                var mapOptions = {
                    zoom: 15,
                    center: Liverpool,
                    mapTypeId: google.maps.MapTypeId.G_NORMAL_MAP
                };

                // This makes the div with id "map_canvas" a google map
                var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);

                // This shows adding a simple pin "marker" - this happens to be the Tate Gallery in Liverpool!
                var myLatlng = new google.maps.LatLng(@Model.Latitude, @Model.Longitude);
                var c = '@Html.Raw(HttpUtility.JavaScriptStringEncode(Model.Address))';
                console.log(c);

                var marker = new google.maps.Marker({
                    position: myLatlng,
                    map: map,
                    title: '@Html.Raw(HttpUtility.JavaScriptStringEncode(Model.Address))'
                });

                // You can make markers different colors...  google it up!
                marker.setIcon('http://maps.google.com/mapfiles/ms/icons/green-dot.png')

            }
        </script>
    </section>
    <script>
        $(document).ready(function() {
            'use strict';
            /***********************************************************
             * BXSLIDER
             ***********************************************************/
            $('.bxslider').bxSlider({
                auto: true,
                autoControls: true,
                pause: 3000,
                minSlides: 1,
                maxSlides: 6,
                slideWidth: 170,
                slideMargin: 30,
                responsive: false
            });
        })
    </script>
}


