@model ReaLocate.Web.ViewModels.DetailsAgencyViewModel

@{
    ViewBag.Title = "AgencyDetails";
}

<h2>Agency Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EncodedId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EncodedId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OwnerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnerId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentDetailsId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentDetailsId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PaymentDetails.PaymentType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentDetails.PaymentType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PaymentDetails.VatNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentDetails.VatNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PackageValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PackageValue)
        </dd>


    </dl>
</div>
<p>
    <a class="btn btn-success" href="/Invoices/PreviewAgencyInvoices/@Model.EncodedId">Preview all Invoices</a>
</p>
<p>
    <a class="btn btn-success" href="/InviteBrokers/GetAllBrokersByAgency/@Model.EncodedId">view All brokers</a>
</p>
