@model ReaLocate.Web.ViewModels.IndexMapAndGridViewModel

@{
    ViewBag.Title = "ReaLocate Home Page";
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Estates.First().Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estates.First().Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estates.First().City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estates.First().Title)
        </th>
        <th>Details</th>
    </tr>

    @foreach (var item in Model.Estates)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @{
                    var redirect = "/RealEstates/RealEstateDetails/" + item.EncodedId;
                }
                <a href=@redirect>Details</a>
            </td>
        </tr>
                    }
</table>
<nav>
    <ul class="pagination">
        @if (Model.CurrentPage > 1)
        {
            <li>
                <a href="/Home/Index/@(Model.CurrentPage-1)" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        }
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            var className = string.Empty;
            if (Model.CurrentPage == i)
            {
                className = "active";
            }
            <li class="@className"><a href="/Home/Index/@(Model.CurrentPage+1)">@i</a></li>
        }
        @if (Model.CurrentPage < Model.TotalPages)
        {
            <li>
                <a href="/Beers/All/@(Model.CurrentPage+1)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        }
    </ul>
</nav>

@section Map{

    <div id="map_canvas" style="height: 500px;"></div>
}

@section SideBar{

    <p>If You want go see your messages</p>
    <a class="btn btn-success" href="/Visitors/VisitorDetails/@Model.UserId">View Official Profile and Chat</a>

}

<!-- Enclose the Javascript in a "section" so that it is rendered in the correct order after scripts have been loaded etc -->
@section scripts {
    <script src="http://maps.google.com/maps/api/js?sensor=true" type="text/javascript"></script>
    <section class="scripts">
        <script type="text/javascript">

            $(document).ready(function () {
                Initialize();
            });

            function Initialize() {
                google.maps.visualRefresh = true;
                var mapOptions = {
                    zoom: 3,
                    center: { lat: 42.6932, lng: 23.3354 },
                    mapTypeId: google.maps.MapTypeId.G_NORMAL_MAP
                };

                var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
                var myLatlng = new google.maps.LatLng(53.40091, -2.994464);

                var marker = new google.maps.Marker({
                    position: myLatlng,
                    map: map,
                    title: 'Tate Gallery'
                });

                marker.setIcon('http://maps.google.com/mapfiles/ms/icons/green-dot.png')

                var data = @Html.Raw(Json.Encode(Model.MapsCoordinates)) //add raw data for database
                console.log(data);
                $.each(data, function (i, item) {
                    console.log(item.GeoLong)
                    var marker = new google.maps.Marker({
                        'position': new google.maps.LatLng(item.GeoLat, item.GeoLong),
                        'map': map,
                        'title': item.Address
                    });

                    marker.setIcon('http://maps.google.com/mapfiles/ms/icons/blue-dot.png')

                    var redirectToDetails = "/RealEstates/RealEstateDetails/" + item.EncodedId;
                    var infowindow = new google.maps.InfoWindow({
                        content: "<div class='infoDiv'><h2>" + item.Address + "</h2>" + "<div><h4><a href=" + redirectToDetails + ">Details</a></h4></div></div>"
                    });

                    google.maps.event.addListener(marker, 'click', function () {
                        infowindow.open(map, marker);
                    });
                })
            }
        </script>
    </section>
}
